fastapi
uvicorn

pydantic
pydantic-settings
email-validator
python-multipart

firebase-admin

httpx
requests

python-jose
cryptography
python-dotenv

typing-extensions

pytest
pytest-asyncio

psycopg2-binary
asyncpg
sqlalchemy
